/** Configuraciones generales **/
*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

.container{
    max-width: 90%;
}


/** Configuraciones del Proyecto y elementos **/

/* --- HEADER --- */
header{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: black;
    position: fixed;
    z-index: 999            ;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;    
}


#carritoIcon{
    width: 50px;
    height: 50px;
    transition: 400ms;
}

#carritoIcon:hover{
    width: 53px; height: 53px;
    filter: drop-shadow(0px 0px 5px yellow );
}

.header-inv{
    height: 100px;
    width: 100%;
}

/* --- SLIDER --- */

#carouselGott{
    background-color: #333;
}

.carousel-item{
    height: 400px;
    color: white;
    background-color: #333;
    text-align: center;
    color: #ffca2c;
}
.carousel-item .container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

/* --- Area de Market --- */

#market{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #f6f6f6;
    color: #ffca2c;
    padding: 20px
}

#market .container{
    width: 100%;
    padding: 0;
}

#areaMarket{
    display: grid;
    width: 100%;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
    justify-items: center;
    margin-top: 20px; margin-bottom: 20px;
}

#areaMarket .card-body{
    display: flex;
    flex-direction: column;
}

/* --- Carrito * ---*/
#carrito{
    position: fixed;
    right: 10px;
    top: 110px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    width: 650px;
    height: 375px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px lightgoldenrodyellow;
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#titles-carrito{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 5px solid #ffca2c;
}

#body-carrito{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 95%;
}


#carrito-card-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 0px auto 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 212px;
    min-height: 212px;
    overflow: hidden;
    overflow-y: scroll;
}

#carrito-card-container::-webkit-scrollbar{
    width: 7px;
}
#carrito-card-container::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: rgba(255, 202, 44, 0.9);
    border: 1px solid orange;
}


.carrito-card{
    width: 95%;
    height: 60px;
    margin-top: 5px; margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 0px 0px 6px white;
    border-radius: 10px;
    text-align: center;
    align-items: center;
}
.carrito-card p{
    margin: 10px auto;
}

#compraFinal{
    background-color: #ffca2c;
    border-radius: 10px;
    color: black;
    border:none;
    padding: 5px 20px 5px 20px;
    font-weight: bold;
}

/* --- Footer --- */
footer{
    text-align: center;
    background-color: black;
    color: #ffca2c;;
    font-style: italic;
}
footer p{margin: 0px;}


/* !** CSS PARA DISPOSITIVOS MÓVILES **! */

@media(max-width:740px){
    /* --- Area de Market --- */
    #areaMarket{
        grid-template-columns: 100%;      
    }
    
    /* --- Carrito * ---*/
    #carrito{
        left: 5%;
        width: 90%;
        background-color: rgba(0, 0, 0, 0.95);
    }
}